extends ./login_landing.jade

block content
  input(type="text" name="uname" placeholder="Username/Email")
  input(type="password" name="password" placeholder="Password!")
  input(type="submit" value="Log In!")
  a(href="/login")= "Register"
