extends ./login_landing.jade

block content
  input(type="text" name="uname" placeholder="Username/Email")
  input(type="password" name="cpassword" placeholder="Confirm Password!")
  a(href="/login")= "Register"
