extends ./login_landing.jade

block content
  input(type="email" name="email" placeholder="email")
  input(type="text" name="fname" placeholder="First Name")
  input(type="text" name="lname" placeholder="Last Name")
  input(type="text" name="username" placeholder="username")
  input(type="password" name="password" placeholder="password")
