extends ./login_landing.jade

block content
  input(type="email" name="email" placeholder="Email")
  input(type="text" name="username" placeholder="Username")
  input(type="password" name="password" placeholder="Password")
  input(type="password" name="cpassword" placeholder="Re-enter Password")
